<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Redis webapp</title>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('push') }}">Push</a>
        <a href="{{ url_for('get') }}">Get</a>
    </header>

    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>