{% extends "layout/base.html" %}

{% block content %}
  <form action="/get" method="get">
    <input type="text" name="key" id="key" required placeholder="key" maxlength="128">
    <input type="submit" value="Get">
  </form>

  {% if key is defined %}
    key: {{ key }}
  {% endif %}
  {% if value is not none %}
    value: {{ value }}
  {%else %}
    Has no value
  {% endif %}
{% endblock %}
