{% extends "layout/base.html" %}

{% block content %}
  {% if error is defined %}
    {{ error }}
  {% endif %}

  {% if key is defined and value is defined %}
    key: {{ key }}
    value: {{ value }}
  {% endif %}

  <form action="/push" method="post">
    <input type="text" name="key" id="key" required placeholder="key" maxlength="128">
    <input type="text" name="value" id="value" required placeholder="value" maxlength="1024">
    <input type="submit" value="Get">
  </form>
{% endblock %}